In [11]:
 # Import libraries and dependencies
import os
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
#import quandl 

%matplotlib inline

ModuleNotFoundError: No module named 'alpaca_trade_api'

In [12]:
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

# Set Quandl API Key 

# quandl.ApiConfig.api_key = os.getenv("QUANDL_API_KEY")
# quandl.ApiConfig.api_version = '2015-04-09'

NameError: name 'tradeapi' is not defined

In [8]:
SPXETFSectors_csv = Path("Resources/SPXETFSectors.csv")
SPXETFSectors_dataframe = pd.read_csv(SPXETFSectors_csv)
SPXETFSectors_dataframe.head(504)

,Company,Ticker,% of Portfolio,Russell Sector,Zacks G Sector
0,ACTIVISION BLZD,ATVI,0.2%,TECHNOLOGY,COMMUNICATION SVCS
1,ALPHABET INC-A,GOOGL,1.6%,TECHNOLOGY,COMMUNICATION SVCS
2,ALPHABET INC-C,GOOG,1.6%,TECHNOLOGY,COMMUNICATION SVCS
3,AT&T INC,T,0.7%,UTILITIES,COMMUNICATION SVCS
4,CENTURYLINK INC,CTL,0.0%,UTILITIES,COMMUNICATION SVCS
5,CHARTER COMM-A,CHTR,0.3%,CONSUMER DISCRETION,COMMUNICATION SVCS
6,COMCAST CORP A,CMCSA,0.7%,CONSUMER DISCRETION,COMMUNICATION SVCS
7,DISCOVERY COM-A,DISCA,0.0%,CONSUMER DISCRETION,COMMUNICATION SVCS
8,DISCOVERY COM-C,DISCK,0.0%,CONSUMER DISCRETION,COMMUNICATION SVCS
9,DISH NETWORK CP,DISH,0.0%,CONSUMER DISCRETION,COMMUNICATION SVCS
10,DISNEY WALT,DIS,0.9%,CONSUMER DISCRETION,COMMUNICATION SVCS
11,ELECTR ARTS INC,EA,0.1%,TECHNOLOGY,COMMUNICATION SVCS
12,FACEBOOK INC-A,FB,2.3%,TECHNOLOGY,COMMUNICATION SVCS
13,FOX CORP-A,FOXA,0.0%,CONSUMER DISCRETION,COMMUNICATION SVCS
14,FOX CORP-B,FOX,0.0%,CONSUMER DISCRETION,COMMUNICATION SVCS
15,INTERPUBLIC GRP,IPG,0.0%,CONSUMER DISCRETION,COMMUNICATION SVCS
16,LIVE NATION ENT,LYV,0.0%,CONSUMER DISCRETION,COMMUNICATION SVCS
17,NETFLIX INC,NFLX,0.8%,CONSUMER DISCRETION,COMMUNICATION SVCS
18,NEWS CORP NEW-A,NWSA,0.0%,CONSUMER DISCRETION,COMMUNICATION SVCS
19,NEWS CORP-B,NWS,0.0%,CONSUMER DISCRETION,COMMUNICATION SVCS
20,OMNICOM GRP,OMC,0.0%,CONSUMER DISCRETION,COMMUNICATION SVCS
21,TAKE-TWO INTER,TTWO,0.1%,TECHNOLOGY,COMMUNICATION SVCS
22,T-MOBILE US INC,TMUS,0.2%,UTILITIES,COMMUNICATION SVCS
23,TWITTER INC,TWTR,0.1%,TECHNOLOGY,COMMUNICATION SVCS
24,VERIZON COMM,VZ,0.9%,UTILITIES,COMMUNICATION SVCS
25,VIACOMCBS INC,VIAC,0.1%,CONSUMER DISCRETION,COMMUNICATION SVCS
26,ADVANCE AUTO PT,AAP,0.0%,CONSUMER DISCRETION,CONSUMER DISCR
27,AMAZON.COM INC,AMZN,4.7%,CONSUMER DISCRETION,CONSUMER DISCR
28,APTIV PLC,APTV,0.1%,CONSUMER DISCRETION,CONSUMER DISCR
29,AUTOZONE INC,AZO,0.1%,CONSUMER DISCRETION,CONSUMER DISCR
...,...,...,...,...,...
474,WELLTOWER INC,WELL,0.1%,FINANCIAL SERVICES,REAL ESTATE
475,WEYERHAEUSER CO,WY,0.1%,FINANCIAL SERVICES,REAL ESTATE
476,AES CORP,AES,0.0%,UTILITIES,UTILITIES
477,ALLIANT ENGY CP,LNT,0.0%,UTILITIES,UTILITIES
478,AMER ELEC PWR,AEP,0.1%,UTILITIES,UTILITIES
479,AMER WATER WORK,AWK,0.1%,UTILITIES,UTILITIES
480,AMEREN CORP,AEE,0.1%,UTILITIES,UTILITIES
481,ATMOS ENERGY CP,ATO,0.0%,UTILITIES,UTILITIES
482,CENTERPOINT EGY,CNP,0.0%,UTILITIES,UTILITIES
483,CMS ENERGY,CMS,0.1%,UTILITIES,UTILITIES
484,CONSOL EDISON,ED,0.1%,UTILITIES,UTILITIES
485,DOMINION ENERGY,D,0.2%,UTILITIES,UTILITIES
486,DTE ENERGY CO,DTE,0.1%,UTILITIES,UTILITIES
487,DUKE ENERGY CP,DUK,0.2%,UTILITIES,UTILITIES
488,EDISON INTL,EIX,0.1%,UTILITIES,UTILITIES
489,ENTERGY CORP,ETR,0.1%,UTILITIES,UTILITIES
490,EVERGY INC,EVRG,0.0%,UTILITIES,UTILITIES
491,EVERSOURCE EGY,ES,0.1%,UTILITIES,UTILITIES
492,EXELON CORP,EXC,0.1%,UTILITIES,UTILITIES
493,FIRSTENERGY CP,FE,0.1%,UTILITIES,UTILITIES
494,NEXTERA ENERGY,NEE,0.5%,UTILITIES,UTILITIES
495,NISOURCE INC,NI,0.0%,UTILITIES,UTILITIES
496,NRG ENERGY INC,NRG,0.0%,UTILITIES,UTILITIES
497,PINNACLE WEST,PNW,0.0%,UTILITIES,UTILITIES
498,PPL CORP,PPL,0.1%,UTILITIES,UTILITIES
499,PUBLIC SV ENTRP,PEG,0.1%,UTILITIES,UTILITIES
500,SEMPRA ENERGY,SRE,0.1%,UTILITIES,UTILITIES
501,SOUTHERN CO,SO,0.2%,UTILITIES,UTILITIES
502,WEC ENERGY GRP,WEC,0.1%,UTILITIES,UTILITIES
503,XCEL ENERGY INC,XEL,0.1%,UTILITIES,UTILITIES

In [9]:
SPXETFSectors_dataframe = SPXETFSectors_dataframe.drop(columns=["Zacks\r\nG Sector", "\r\nCompany", "% of\r\nPortfolio"])
SPXETFSectors_dataframe.head()

  \r\nTicker Russell\r\nSector
0       ATVI        TECHNOLOGY
1      GOOGL        TECHNOLOGY
2       GOOG        TECHNOLOGY
3          T         UTILITIES
4        CTL         UTILITIES

In [10]:
SPXETFSectors_dataframe = SPXETFSectors_dataframe.rename(columns={
    "\nTicker": "ticker",
    "Russell\nSector": "sector"
})

SPXETFSectors_dataframe.head()

  \r\nTicker Russell\r\nSector
0       ATVI        TECHNOLOGY
1      GOOGL        TECHNOLOGY
2       GOOG        TECHNOLOGY
3          T         UTILITIES
4        CTL         UTILITIES

In [13]:
dxy_file_path = Path("Resources/$dxy_historical_data_01-01_to_09-15-2020.csv")
dky_data = pd.read_csv(dxy_file_path)
dky_data["Ticker"]="dxy"
dky_data1 = dky_data.rename(columns={"Last":"Close"})
dky_data1.head()

        Time   Open   High    Low  Close  Change  Volume Ticker
0  9/15/2020  93.05  93.14  92.78  93.07    0.02     0.0    dxy
1  9/14/2020  93.29  93.32  92.87  93.05   -0.22     0.0    dxy
2  9/11/2020  93.34  93.38  93.09  93.27   -0.07     0.0    dxy
3  9/10/2020  93.26  93.45  92.70  93.34    0.08     0.0    dxy
4   9/9/2020  93.54  93.66  93.14  93.26   -0.28     0.0    dxy

In [14]:
btc_file_path = Path("Resources/btcusd_historical_data_01-01_to_09-15-2020.csv")
btc_data = pd.read_csv(btc_file_path)
btc_data["Ticker"]="btc"
btc_data1 = btc_data.rename(columns={"Last":"Close"})
btc_data1.head()

        Time      Open      High       Low     Close  Change   Volume Ticker
0  9/15/2020  10692.27  10937.27  10628.53  10866.25  173.98  31941.0    btc
1  9/14/2020  10330.06  10753.51  10219.66  10692.27  362.23  30510.0    btc
2  9/11/2020  10304.29  10379.33  10212.02  10330.04   25.76  19755.0    btc
3  9/10/2020  10260.91  10487.96  10184.43  10304.28   43.44  32629.0    btc
4   9/9/2020  10015.78  10348.02   9858.94  10260.84  245.06  31958.0    btc

In [5]:
xau_file_path = Path("Resources/btcusd_historical_data_01-01_to_09-15-2020.csv")
xau_data = pd.read_csv(xau_file_path)
xau_data["Ticker"]="xau"
xau_data1 = xau_data.rename(columns={"Last":"Close"})
xau_data1.head()

NameError: name 'Path' is not defined

In [3]:
xau_data1.hvplot

NameError: name 'xau_data1' is not defined

In [ ]:
# Set the ticker
ticker = SPXETFSectors_dataframe["ticker"].to_list()
ticker_1 = ticker[0:99]
ticker_2 = ticker[99:198]
ticker_3 = ticker[198:297]
ticker_4 = ticker[297:396]
ticker_5 = ticker[396:495]
ticker_6 = ticker[495:]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 3 years from Today
start_date = pd.Timestamp("2020-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-09-15", tz="America/New_York").isoformat()

# Get 3 years worth of historical data for TSLA
# Get 9 months
df_ticker_1 = alpaca.get_barset(
    ticker_1,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker_2 = alpaca.get_barset(
    ticker_2,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker_3 = alpaca.get_barset(
    ticker_3,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker_4 = alpaca.get_barset(
    ticker_4,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker_5 = alpaca.get_barset(
    ticker_5,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker_6 = alpaca.get_barset(
    ticker_6,
    timeframe,
    start=start_date,
    end=end_date
).df


# Display sample data
df_ticker_.head()

In [ ]:
type(api_key)

In [ ]:
request_url = "https://www.quandl.com/api/v3/datasets/WIKI/MSFT.json?api_key="

In [ ]:
request_url = request_url + api_key

In [ ]:
response_data = requests.get(request_url)

In [ ]:
response_data.json()